{% extends 'home/base.html' %}
{% load static %}
    {% block meta %}
    <title>Mau Hapus Matkul?</title>
    <link rel="stylesheet" href="{% static 'home/style3.css' %}">
    <style>
        .hapus-container{
            margin-left: 28%;
        }

        .hapus-container .btn-container{
            margin-left: 15%;
            margin-top: 3%;
        }
        .hapus-container .halo{
            margin-left: 15%;
            margin-top: 5%;

        }
        h4{
            margin-left: 15%;
        }
    </style>
    {% endblock meta %}
    {% block content %}
    <div class="hapus-container">
    <div class="halo" style= "display: flex;">
        <h3 style="color: white; font-weight: 400;">Halo, </h3>
        <h3 style="color: lightskyblue; margin-left: 1%;">Pram</h3>
    </div>
    <h4 style="font-weight: 300; color: white;">Mau menghapus matkul?</h4>
    <div class="btn-container">
        <a href="{% url 'home:index' %}" class="link-home"><button class="btn-light">Home</button></a>
        <a class="link-list" href="{% url 'home:list_matkul' %}"><button class="btn-info">Lihat Matkul</button></a>
        <a class="link-tambah" href="{% url 'home:tambah_matkul' %}"><button class="btn-primary">Tambah Matkul</button></a>
    </div>
    <form method="post" style="color: white; width: 50%; margin-left: 5%; display: flex; flex-direction: column;">
        {% csrf_token %}
        {{ form }}
        <button type="submit" class="btn-success" style="margin-top: 5%;">Hapus</button>
    </form>
    </div>
    
    {% endblock content %}
