{% extends 'base.html' %}
{% load static %}
    {% block meta %}
    <title>Hey, It's Pram</title>
    <link rel="stylesheet" href="{% static 'home/style3.css' %}" />
    {% endblock meta %}

    {% block content %}
    <div class="section" id="about" style="min-height: 657px">
      <div class="bio">
        <h3 class="big">HEY, I'M PRAM</h2>
        <h3 class="big">COMPUTER SCIENCE STUDENT</h2>
        <h3 class="big">AT UNIVERSITY OF INDONESIA</h2>
        <h3 class="medium"><span>I LIKE MOVIES, BASKETBALL, AND KPOP</span></h2>
      </div>
      <div class="profpic">
        <img src="{% static 'home/ini-pram.jpg' %}" alt="profile" />
      </div>
    </div>
    <div class="section" id="skill">
      <div class="desc">
        <p>
          <b>
            An easygoing person who likes to learn new<br />things especially
            if it's interesting. I try to<br />always give off positive vibes
            but honestly i just<br />accepted who i really am and things that
            God<br />gave me.
          </b>
        </p>
      </div>
      <h2>Skill</h2>
      <div class="skill-img">
          <img src="{% static 'home/python.png' %}" alt="python">
          <img src="{% static 'home/java.png' %}" alt="java">
          <img src="{% static 'home/premiere.svg' %}" alt="adobepremiere">
          <img src="{% static 'home/basketball.svg' %}" alt="basketball">
      </div>
    </div>
    <div class="section" id="experience">
      <h2>Experience</h2>
      <div class="exp-container">
          <div class="exp">
              <p class="pos"><b>Vice Person in Charge of Campaign</b></p>
              <p class="comp">Pemira Fasilkom UI 2020</p>
          </div>
          <div class="vl"></div>
          <div class="exp">
              <p class="pos"><b>Student Mentor</b></p>
              <p class="comp">PMB Fasilkom 2020</p>
          </div>
          <div class="vl"></div>
          <div class="exp">
              <p class="pos"><b>Staff of Advocation and Student Welfare</b></p>
              <p class="comp">BEM Fasilkom UI 2020</p>
          </div>
          <div class="vl"></div>
          <div class="exp">
              <p class="pos"><b>Staff of Bazaar</b></p>
              <p class="comp">PERAK Fasilkom 2020</p>
          </div>
      </div>
    </div>
    <div class="section" id="gallery" style="min-height: 657px">
      <h2>Gallery</h2>
      <div class="container">
          <div class="img-container">
              <img src="{% static 'home/Sabpel2.jpg' %}" alt="sabpel">
              <p>Sabtu Pelangi<br>21 September 2019</p>
          </div>
          <div class="img-container">
              <img src="{% static 'home/Setara2.jpg' %}" alt="setara">
              <p>SETARA<br>6 Oktober 2019</p>
          </div>
          <div class="img-container">
              <img src="{% static 'home/Reformasi1.jpeg' %}" alt="reformasi">
              <p>Reformasi Dikorupsi<br>24 September 2019</p>
          </div>
      </div>
    </div>
  </div>
  <div class="section" id="contact">
    <h2>Contact Me</h2>
    <hr>
    <div class="contact-links">
        <a href="https://www.instagram.com/naufalpraam/"><img src="{% static 'home/instagram.png' %}" alt="instagram"></a>
        <a href="https://www.linkedin.com/in/naufal-pramudya-yusuf-793872193/"><img src="{% static 'home/linkedin.png' %}" alt="linkedin"></a>
        <a href="https://twitter.com/thisispramie"><img src="{% static 'home/twitter.png' %}" alt="twitter"></a>
        <a id="email" href="{% url 'home:mail' %}"><img src="{% static 'home/email.png' %}" alt="email"></a>
    </div>
    <p>Copyright © 2020  Naufal Pramudya Yusuf | naufal.pramudya11@gmail.com</p>
  </div>
  {% endblock content %}
