{% extends 'base.html' %}
{% load static %}
    {% block meta %}
    <title>List Mata Kuliah</title>
    <link rel="stylesheet" href="{% static 'home/style3.css' %}">
    <style>
        
        .matkul-container{
            margin: 10%;
            margin-top: 5%;
            margin-left: 10%;
            
        }
        .matkul-container .btn-container{
            margin-left: 35%;
            margin-top: 3%;
        }
        .matkul-container .table{
            margin-top: 2%;
        }

        .matkul-container .halo, h4{
            margin-left: 35%;
        }
        
    </style>
    {% endblock meta %}
    {% block content %}
    <div class="matkul-container">
    <div class="halo" style= "display: flex;">
        <h3 style="color: white; font-weight: 400;">Halo, </h3>
        <h3 style="color: lightskyblue; margin-left: 1%;">Pram</h3>
    </div>
    <h4 style="font-weight: 300; color: white;">Yuk dilihat daftar matkulmu!</h4>
    <div class="btn-container">
    <a href="{% url 'home:index' %}" class="link-home"><button class="btn-light">Home</button></a>
    <a class="link-tambah" href="{% url 'home:tambah_matkul' %}"><button class="btn-primary">Tambah Matkul</button></a>
    <a class="link-hapus" href="{% url 'home:hapus_matkul' %}"><button class="btn-danger">Hapus Matkul</button></a>
    </div>
    {% if list_matkul %}
    <table class="table">
        <thead style="text-align: center;">
            <th scope="col">Nama Matkul</th>
            <th scope="col">Dosen Pengajar</th>
            <th scope="col">Deskripsi</th>
            <th scope="col">Semester</th>
            <th scope="col">Ruang</th>
            <th scope="col">SKS</th>
        </thead>
        {% for matkul in list_matkul %}
        <tr>
            <th>{{matkul.nama}}</th>
            <th>{{matkul.dosen}}</th>
            <th>{{matkul.deskripsi}}</th>
            <th>{{matkul.semester}}</th>
            <th>{{matkul.ruangan}}</th>
            <th>{{matkul.sks}}</th>
        </tr>
        {% endfor %}
    </table>
    {% endif %}
    </div>
    {% endblock content %}