{% extends 'base.html' %}
{% load static %}
    {% block meta %}
    <title>Send Mail to Pram!</title>
    <link rel="stylesheet" href="{% static 'home/style3.css' %}" />
    {% endblock meta %}
    {% block content %}
    <div class="full" style="text-align: center;">
      <div class="full-item">
      <div class="contact-title">
        <h1>Hello friends</h1>
        <h3>Send Pram some advice so you can help him make a better website!</h3>
      </div>
      <div class="contact-form">
        <form id="contact-form" method="POST" action="">
          <input
            type="text"
            name="name"
            class="form-control"
            placeholder="Your Name"
            required
          />
          <br />
          <input
            type="email"
            name="email"
            class="form-control"
            placeholder="Your Email"
            required
          />
          <br />
          <textarea
            name="message"
            class="form-control"
            placeholder="Message"
            row="4"
            required
          ></textarea
          ><br />
          <input type="submit" class="form-control submit" value="SEND MESSAGE" />
        </form>
      </div>
      </div>
    </div>
  {% endblock content %}
