{% extends 'base.html' %}
{% load static %}
    {% block meta %}
    <title>Hey, Tambahkan Mata Kuliah?</title>
    <link rel="stylesheet" href="{% static 'home/style3.css' %}" />
    {% endblock meta %}
    {% block content %}
    <div class="container" style="margin: 20px; width: 50%; margin-left: 5%;">
    <div style= "display: flex;">
        <h3 style="color: white; font-weight: 400;">Halo, </h3>
        <h3 style="color: lightskyblue; margin-left: 1%;">Pram</h3>
    </div>
    <h4 style="font-weight: 300; color: white;">Mau tambahkan mata kuliah?</h4>
    <br>
    <div class="btn-container">
    <a href="{% url 'home:index' %}" class="link-home"><button class="btn-light">Home</button></a>
    <a class="link-list" href="{% url 'home:list_matkul' %}"><button class="btn-info">Lihat Matkul</button></a>
    </div>
    <form method="post" style="display: flex; flex-direction: column; color: white;">
        {% csrf_token %}
        {{ form }}
        <button type="submit" class="btn-success">Save</button>
    </form>
    </div>
    {% endblock content%}
