{% extends 'base.html' %}
{% load static %}

    {% block meta %}
    <title>Story 1 Pram</title>
    <link rel="stylesheet" href="{% static 'home/style1.css' %}" />
    {% endblock meta %}
    {% block content %}
      <div class="main-content">
        <div class="avatar">
          <img src="{% static 'home/ini-pram.jpg' %}"" alt="Foto Pram"/>
        </div>
        <div class="about">
          <h2>Naufal Pramudya Yusuf</h2>
          <h4>Computer Science 2019</h4>
          <h4>University of Indonesia</h4>
          <p>
            I'm an easygoing person who likes to learn new things especially if
            it's interesting. I try to always give off positive vibes but
            honestly i just accepted who i really am and things that God gave
            me.
          </p>
        </div>

        <div class="contact">
          <a href="https://www.instagram.com/naufalpraam/">
            <img src="{% static 'home/instagram.svg' %}" alt="instagram" />
          </a>
          <a
            href="https://www.linkedin.com/in/naufal-pramudya-yusuf-793872193/"
          >
            <img src="{% static 'home/linkedin.svg' %}" alt="linkedin" />
          </a>
          <a href="https://twitter.com/thisispramie">
            <img src="{% static 'home/twitter.svg' %}" alt="twitter" />
          </a>
        </div>
      </div>
      <div class="list">
        <ul class="hobi">
          <li><b>Hobbies</b></li>
          <li>Movies</li>
          <li>Basketball</li>
          <li>Kpop</li>
        </ul>

        <table class="edu" border="1">
          <tr>
            <td><b>Education</b></td>
            <td><b>Year</b></td>
          </tr>
          <tr>
            <td>University of Indonesia</td>
            <td>2019-present</td>
          </tr>
          <tr>
            <td>SMAN 70 Jakarta</td>
            <td>2016-2019</td>
          </tr>
          <tr>
            <td>SMPN 19 Jakarta</td>
            <td>2013-2016</td>
          </tr>
        </table>
      </div>
      <br />
      <div class="credit">
        Icons made by
        <a href="https://www.flaticon.com/authors/freepik" title="Freepik"
          >Freepik</a
        >
        from
        <a href="https://www.flaticon.com/" title="Flaticon">
          www.flaticon.com</a
        >
      </div>
  {% endblock content %}
