.navbar-brand {
  font-family: "Sansita Swashed", cursive;
  font-size: 28px;
  font-weight: 600;
  color: #636363;
}

.nav-link {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  padding-left: 40rem;
}
