* {
  margin: 0;
  padding: 0;
}

body,
html {
  font-family: "Poppins", sans-serif;
  /* display: flex; */
  /* justify-content: center; */
  /* align-items: center; */

  min-height: 100vh;
}
body {
  background-image: url(https://images.unsplash.com/photo-1551098955-f124915c1ff3?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjQzMzEwfQ&auto=format&fit=crop&w=1500&q=80);
  background-size: cover;
  background-repeat: no-repeat;
}

.main-content .avatar img {
  border-radius: 45%;
  width: 140px;
  height: 140px;
  margin-top: 5%;
  object-fit: cover;
  object-position: 0 -6px;
}

.main-content {
  position: relative;
  width: 55%;
  background-color: rgb(255, 255, 255, 0.7);
  height: fit-content;
  text-align: center;
  border-radius: 5px;
  margin: auto;
  margin-top: 30px;
}
.list {
  position: relative;
  width: 70%;
  height: 40vh;
  border-radius: 5px;
  position: relative;
  margin: auto;
  margin-top: 2%;
}
.list .hobi {
  list-style: none;
  position: relative;
  background-color: rgb(255, 255, 255, 0.7);
  border-radius: 10px;
  width: 55%;
  text-align: center;
  align-items: center;
  margin: auto;
}
.list .edu {
  position: relative;
  background-color: rgb(255, 255, 255, 0.7);
  border-radius: 5px;
  width: 55%;
  text-align: center;
  align-items: center;
  margin: auto;
  margin-top: 10px;
}
.main-content .contact a img {
  width: 25px;
  height: 25px;
}
.main-content .contact a {
  padding: 0 10px;
}
.main-content .contact {
  margin-top: 5px;
}
.credit a {
  color: black;
}
