{% extends 'base.html' %}
{% load static %}
{% block meta %}
<title>Edit your Bio?</title>
<link rel="stylesheet" href="{% static 'home/style3.css' %}" />
<style>
    .container{
        color: #ffffff;
    }
</style>
{% endblock meta %}
{% block content %}
<div class="container">
    {% for message in messages %}
    <script>
      alert("{{ message }}")
    </script>
  {% endfor %}

  {% if user.is_authenticated %}
  <h1>Update Profile</h1>
  <br>
  <h2> Whats up, {{ user.username }}! </h2>

  <form action="" method="POST">
      {% csrf_token %}
      <label for="#username">Username</label>
      <input id="username" name="username" class="form-control" value="{{ user.username }}" type="text" required>
      <label for="#firstname">First Name</label>
      <input id="firstname" name="firstname" class="form-control" type="text" value="{{ user.profile.firstname }}">
      <label for="#lastname">Last Name</label>
      <input id="lastname" name="lastname" class="form-control" type="text" value="{{ user.profile.lastname }}">
      <label for="#bio">Bio</label>
      <input id="bio" name="bio" class="form-control" type="text" value="{{ user.profile.bio }}">
      <br>
      <input type="hidden" name="id" value="{{ user.id }}">
      <input type="submit" value="Update Profile" class="btn btn-primary" id="update">
    </form>
    {% else %}
        <h2> You haven't logged in yet </h2>
    <p> Log in to update your profile </p>
    <a href="{% url 'users:login' %}" class="btn btn-primary">Login</a>
    {% endif %}
</div>
{% endblock content %}