{% extends 'base.html' %}
{% load static %}
{% block meta %}
<title>Login</title>
<link rel="stylesheet" href="{% static 'home/style3.css' %}" />
<style>
    .container{
        color: #ffffff;
    }
</style>
{% endblock meta %}
{% block content %}
<div class="container">
        
    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <script>
            alert("{{ message }}")
        </script>
        {% endfor %}
    </ul>
    {% endif %}

    {% if user.is_authenticated %}
        <h1>Selamat Datang {{ user.username }} !!</h1>
            <a class="btn btn-primary" href="{% url 'users:logout' %}">Logout</a>
    {% else %}
    <h1>Log In</h1>
    <p>Don't have an account? You can create it  <a href="{% url 'users:signup' %}">here</a></p>
    <form  action="{% url 'users:login' %}" method="POST">
        {% csrf_token %}
            <label for="#username">Username</label>
            <input id="username" name="username" class="form-control" type="text">
            <label for="#password">Password</label>
            <input id="password" name="password" class="form-control" type="password">
            <br>
            <input id="sub-login" class="btn btn-primary" type="submit" value="Log In">
        </form>
    {% endif %}
</div>
{% endblock content %}