{% extends 'base.html' %}
{% load static %}
{% block meta %}
<title>Sign Up</title>
<link rel="stylesheet" href="{% static 'home/style3.css' %}" />
<style>
    .container{
        color: #ffffff;
    }
</style>
{% endblock meta %}
{% block content %}
<div class="container">
        
    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <script>
            alert("{{ message }}")
        </script>
        {% endfor %}
    </ul>
    {% endif %}

    {% if user.is_authenticated %}
        <h1>Logged as {{ user.username }}</h1>
            <a class="btn btn-primary" href="{% url 'users:logout' %}">Logout</a>
            {% else %}
                <h1>Sign Up</h1>
                <p>Have an account? You can log in <a href="{% url 'users:login' %}">here</a></p>
                <form  action="{% url 'users:signup' %}" method="POST">
                    {% csrf_token %}
                    <label for="#username">Username</label>
                    <input id="username" name="username" class="form-control" type="text">
                    <label for="#password">Password</label>
                    <input id="password" name="password" class="form-control" type="password">
                    <br>
                    <input id="sub-signup" class="btn btn-primary" type="submit" value="Sign me up!">
                </form>
    {% endif %}
</div>
{% endblock content %}