{% extends 'base.html' %}
{% load static %}
{% block meta %}
<title>User Page</title>
<link rel="stylesheet" href="{% static 'home/style3.css' %}" />
<style>
    .container{
        color: #ffffff;
    }
</style>
{% endblock meta %}
{% block content %}
<div style="margin-top: 1em;" class="container">

    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <script>
            alert("{{ message }}")
        </script>
        {% endfor %}
    </ul>
    {% endif %}

    {% if user.is_authenticated %}
        <h3>Selamat Datang {{ user.username }} !!</h3>
        <div>First Name: {{ user.profile.firstname }}</div>
        <div>Last Name: {{ user.profile.lastname }}</div>
        <div>Bio :  {{ user.profile.bio }} </div>
        <br>
        <br>    
        <a id='sub-update' class="btn btn-primary" href="{% url 'users:bio' %}">Update Profile</a>
        <a id='sub-logout' class="btn btn-primary" href="{% url 'users:logout' %}">Logout</a>
      {% else %}
        <h1>You are not logged in.</h1>
        <br>
        <h3>Do you have an account?</h3>
        <a id='login' class="btn btn-success" href="{% url 'users:login' %}">Log in</a>
        <a id='signup' class="btn btn-outline-success" href="{% url 'users:signup' %}">Sign up</a>
      {% endif %}

</div>
{% endblock content %}