* {
  box-sizing: border-box;
}

#judul {
  margin-top: 20px;
  text-align: center;
  color: #ffffff;
}

.accordion {
  max-width: 600px;
  display: block;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
}

.accordion .card {
  box-shadow: 0px 0px 20px #596475;
  margin-bottom: 20px;
  float: left;
  width: 100%;
}

.accordion .card .card-header {
  background-color: lightskyblue;
  display: flex;
  justify-content: space-between;
  transition: all 0.3s linear;
}

.accordion .card .card-header h3 {
  cursor: pointer;
  color: black;
  position: relative;
  margin: 0;
  padding: 15px 20px;
  flex-grow: 1;
  font-family: "Montserrat", sans-serif;
}

.accordion .card .card-header span {
  /* right: 20px; */
  /* top: 15px; */
  height: 25px;
  width: 25px;
  color: #3343a2;
  background-color: #ffffff;
  margin-top: 4%;
  border-radius: 50%;
  text-align: center;
  line-height: 25px;
  font-size: 13px;
  transition: all 0.2s;
}

.accordion .card .card-header .btn-group a {
  cursor: pointer;
  top: 7px;
}

.accordion .card .card-body {
  padding: 20px;
}

.accordion .card .card-body {
  display: none;
}

.accordion .card:nth-child(1) .card-body {
  display: block;
}

.accordion .card .card-body p {
  font-size: 15px;
  line-height: 24px;
  color: #444444;
  margin: 0px;
}
