{% extends 'base.html' %}
{% load static %}
{% block meta %}
<title>Books? Yup, Books</title>
<link rel="stylesheet" href="{% static 'home/style3.css' %}" />
<link rel="stylesheet" href="{% static 'accord.css' %}">
{% endblock meta %}
{% block content %}
<div class='container'>
    <h1 class = 'judul' style="color: white;">You should read more <span style="color: lightskyblue;">books</span>, y'know...</h1>

    <div class="input" style="width: 50px;">
        <input type="text" id="input" placeholder="Whatcu looking for?" title="Type something!">
    </div>
    <br>
    <div class="content">
        <table id="demo" class="table table-borderless table-dark">
            <thead>
                <tr>
                    <th scope="col" class="align-middle">No</th>
                    <th scope="col" class="align-middle">Cover</th>
                    <th scope="col" class="align-middle">Title</th>
                    <th scope="col" class="align-middle">Authors</th>
                    <th scope="col" class="align-middle">Publisher</th>
                    <th scope="col" class="align-middle">Published Date</th>
                </tr>
            </thead>
            <tbody id="content"></tbody>
        </table>
    </div>
</div>
<script src="{% static 'books.js' %}"></script>
{% endblock content %}