{% extends 'base.html' %}
{% load static %}
{% block meta %}
<title>Accordion | Life</title>
<link rel="stylesheet" href="{% static 'home/style3.css' %}" />
<link rel="stylesheet" href="{% static 'accord.css' %}">
<!-- for icons plus minus -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
{% endblock meta %}
{% block content %}
<h1 id="judul">Hidup saya dalam tiga babak</h1>
<div class="accordion">
    <div class="card">
        <div class="card-header" style="background-color: lightgreen;">
            <h3>Percaya</h3>
            <div class="btn-group">
                <a href="#" class="btn up"><i class="material-icons">arrow_upward</i></a>
                <a href="#" class="btn down"><i class="material-icons">arrow_downward</i></a>
            </div>
            <span class="fa fa-minus"></span>
        </div>
        <div class="card-body active">
            <p>Awalnya saya percaya bisa.</p>
        </div>
    </div>
    <div class="card">
        <div class="card-header" style="color: lightskyblue;">
            <h3>Penundaan</h3>
            <div class="btn-group">
                <a href="#" class="btn up"><i class="material-icons">arrow_upward</i></a>
                <a href="#" class="btn down"><i class="material-icons">arrow_downward</i></a>
            </div>
            <span class="fa fa-plus"></span>
        </div>
        <div class="card-body">
            <p>Dalam pengerjaannya saya jadi menunda-nunda.</p>
        </div>
    </div>
    <div class="card">
        <div class="card-header" style="color: lightskyblue;">
            <h3>Penyesalan</h3>
            <div class="btn-group">
                <a href="#" class="btn up"><i class="material-icons">arrow_upward</i></a>
                <a href="#" class="btn down"><i class="material-icons">arrow_downward</i></a>
            </div>
            <span class="fa fa-plus"></span>
        </div>
        <div class="card-body">
            <p>Akhirnya saya menyesal karena lupa deadline jam berapa.</p>
        </div>
    </div>
</div>
<script src="{% static 'accordion.js' %}"></script>

{% endblock content %}