{% extends 'base.html' %}
{% load static %}
{% block meta %}
<title>Aktivitas</title>
<link rel="stylesheet" href="{% static 'home/style3.css' %}">
<style>
    h3, h4{
        color: white;
    }
    .akt-container{
        margin-left: 2%;
        margin-top: 2%;
    }
</style>
{% endblock meta %}
{% block content %}
<div class="akt-container">
    <div class="row" style="display: flex;">
        <h3 style="font-weight: 400;">Halo, </h3>
        <h3 style="color: lightskyblue;">Pram</h3>
    </div>
    <h4 class="row" style="font-weight: 300;">Jalani harimu dengan senyum!</h4>
    <h4 class="row">Tambahkan aktivitas baru?</h4>
    <div class="row">
    <form method="post" style="display: flex;flex-direction: column; width: fit-content; color: white;">
        {% csrf_token %}
        {{ form }}
        <button type="submit" class="btn-success">Save</button>
    </form>
    </div>
    <div class="row" style="margin-left: 0%;">
        <div class="col">
          <h3 style="margin-top: 2%;">Aktivitas</h3>
          {% if Ada  %}
          {% for items in list_ak %}
          <div class="card" style="width: 90%;">
            <div class="card-body">
              <h4 class="card-title" style="color: black;">{{ items.aktivitas }}</h4>
              <p class="card-text">
                <p>Peserta: </p>
                  {% for pes in list_pes %}
                    {% if pes.kegiatan == items %}
                    <ul>
                      <li>{{ pes.peserta }}</li>
                    </ul>
                    {% endif %}
                  {% endfor %}
                  </p>
              <div class="d-flex flex-row">
                <a style="margin-left: 20px;" href="{% url 'kegiatan:tambah_peserta' items.id %}" class="card-link btn btn-outline-primary">Tambah Peserta</a>
              </div>
            </div>
          </div>
          {% endfor %}
          {% endif %}
        </div>
      </div>  
</div>
{% endblock content %}