{% extends 'base.html' %}
{% load static %}
{% block meta %}
<title>Tambah Peserta</title>
<link rel="stylesheet" href="{% static 'home/style3.css' %}">
{% endblock meta %}
{% block content %}
<div style="margin-top: 30px; margin-left: 27%;" class="peserta-container">
    <div style="margin-top: 20px;">
        <div class="col">
            <h4 style="color: white;">Tambahkan Peserta?</h4>
            <form action="" method="POST" style="display: flex;flex-direction: column; width: fit-content; color: white;">
                {% csrf_token %}
                {{ form }}
                <br>
                <input class="btn btn-primary" type="submit" value="Submit">
            </form>
        </div>
    </div>
    <br>
</div>
{% endblock content %}